@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<Application.Models.User>

<div>

    <h2 class="text-center">Accounts</h2>
@foreach (var u in Model)
{
    <div class="row" style="width:70%; margin-left:15%; margin-top:5%">
        <div class="col-lg-8">
            <h4><strong>Name: </strong>@u.Name</h4>
            <p>
                <strong>Email: </strong>@u.Email<br>
                <strong>Contact: </strong>@u.Number<br>
                <strong>Address: </strong>@u.Address<br>
            <p>
        </div>
        <div class="col-md-2 pull-right" style="margin-top:5%">
            <a title="Remove" href="#" data-toggle="modal" data-target="#userDelete-@(u.Id)" class="btn btn-danger btn-default"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>

    <div class="modal fade" id="userDelete-@(u.Id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:30%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    Are you sure that you want to delete this account?
                </div>
                <div class="modal-footer">
                    <a id="loginSubmit" class="btn btn-success" href="~/User/RemoveUser?id=@(u.Id)">Yes</a>
                    <a id="loginSubmit" class="btn btn-danger" data-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>
    }
    <br><br><br>

</div>
